.FilmCard {
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
}
.card-rate {

}
.bad{
    color:red;
}
.good{
    color:sandybrown;
}
.excelent {
    color:green;
}